@import 'fonts.scss';

p {
    margin-top: 0;
}

$widthMax: 750px;
$padding: 30px;
$borderRadius: 8px;
$colorLightGray: #E9E9E9;

#wpcontent {
    padding-left: 0;
}

.rivo-wts-plugin-tm {

    .nav-container {
        background-color: white;
    }

    nav {
        display: flex;
        max-width: $widthMax;
        padding: 12px $padding;

        a {
            font-size: 15px;
            text-align: center;
            color: #000000;
            cursor: default;
            margin: 0 3px;
            padding: 8.5px 10px 8.5px 30px!important;
            min-width: 180px;
            float: left;
            position: relative;
            background-color: #d9e3f7;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            transition: background-color 0.2s ease;
            text-decoration: none;
            font-weight: 600;

            &:hover{
                cursor: pointer;
            }

            &.active {
                color: #fff;
                background-color: #23468c;
            }

            &.active:after {
                border-left: 17px solid #23468c;
            }

            &:after,&:before {
                content: " ";
                position: absolute;
                top: 0;
                right: -17px;
                width: 0;
                height: 0;
                border-top: 19px solid transparent;
                border-bottom: 17px solid transparent;
                border-left: 17px solid #d9e3f7;
                z-index: 2;
                transition: border-color 0.2s ease;
            }

            &:before{
                right: auto;
                left: 0;
                border-left: 17px solid #fff;
                z-index: 0;
            }

            &:first-child:before {
                border: none;
            }

            &:first-child {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

        }

        > * {
            flex-basis: 100%;
        }
    }

    .container {
        max-width: $widthMax;
        margin: $padding;
        padding: $padding;
        background-color: white;
        border-radius: $borderRadius;

        & .content .additional-information p{
            font-size: 15px;
            font-weight: 600;
        }

        & .content .message-field{
            margin-top: 10px;
        }

        & .content .message-field.error-field{
            color: red;
            font-size: 15px;
            font-weight: 600;
        }

        & .content .message-field.apply-field{
            color: green;
            font-size: 15px;
            font-weight: 600;
        }

        & .content .type-integration{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 30px 0 24px 0;

            & .integration{
                display: flex;

                & input{
                    margin-top: 0;
                }

                & label{
                    font-family: Gilroy;
                    font-size: 14px;
                    font-weight: 600;

                    & span{
                        display: block;
                        font-family: Gilroy;
                        font-size: 13px;
                        font-weight: 500;
                        margin-top: 6px;
                    }
                }
            }
        }

        & .content .plugin-integration{
            padding-top: 24px;
            border-top: 1px solid #EFEFEF;

            & .single-integration{
                display: flex;
                align-items: flex-start;
                gap: 10px;
                margin-bottom: 24px;

                & input{
                    margin-top: 0;
                }

                & label{
                    font-family: Gilroy;
                    font-size: 14px;
                    font-weight: 600;

                    & span{
                        font-family: Gilroy;
                        font-size: 13px;
                        font-weight: 500;
                        margin-top: 6px;
                        display: block;
                    }
                }


            }
        }

        & .content .select-global-form{
            position: relative;

            & label{
                font-family: Gilroy;
                font-size: 11px;
                font-weight: 500;
                background: #ffffff;
                position: absolute;
                top: -10px;
                left: 10px;
            }

            & select{
                font-family: Gilroy;
                width: 100%;
                max-width: 100%;
                padding: 8px 16px;
                border: 1px solid #E9E9E9;
                border-radius: 8px;
                font-size: 15px;
                appearance : none;
                -webkit-appearance : none;
                font-weight: 500;

                background-image: linear-gradient(45deg, transparent 50%, grey 50%), linear-gradient(135deg, grey 50%, transparent 50%);
                background-position: calc(100% - 19.66px) calc(48%), calc(100% - 15px) calc(48%), 100% 0;
                background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
                background-repeat: no-repeat;

                &:hover{
                    background-image: linear-gradient(45deg, grey 50%, transparent 50%), linear-gradient(135deg, transparent 50%, grey 50%);
                    background-position: calc(100% - 15.66px) 48%, calc(100% - 20px) 48%, 100% 0;
                    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
                    background-repeat: no-repeat;
                    outline: 0;
                }

                &:focus{
                    border: 1px solid #FCBE66;
                    box-shadow: unset;
                }
            }
        }

        & .content .global-form-settings{
            border-top: 1px solid #EFEFEF;
            margin-top: 24px;
            padding-top: 24px;

            & .form-message,
            & .form-message-after-successful{
                position: relative;
                margin-bottom: 24px;

                & input{
                    font-family: Gilroy;
                    width: 100%;
                    max-width: 100%;
                    padding: 8px 16px;
                    border: 1px solid #E9E9E9;
                    border-radius: 8px;
                    font-size: 15px;
                    font-weight: 500;

                    &:focus{
                        border: 1px solid #FCBE66;
                        box-shadow: unset;
                    }
                }

                & label{
                    font-family: Gilroy;
                    font-size: 11px;
                    font-weight: 500;
                    background: #ffffff;
                    position: absolute;
                    top: -10px;
                    left: 10px;
                    padding: 0 3px;
                }
            }

            & .modify-inputs{
                margin-bottom: 24px;

                & .rivo-wts-rename-group{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                }

                & .rivo-wts-rename-group input,
                & .rivo-wts-rename-group select,
                & .rivo-wts-rename-group button{
                    border: 1px solid #E9E9E9;
                    border-radius: 8px;
                    padding: 8px 16px;
                }

                & .rivo-wts-rename-group button{
                    height: 45px;
                    background: unset;
                    color: #1F64A5;
                    border: unset;
                    font-weight: 600;
                    cursor: pointer;

                    &.rivo-wts-bold-format,
                    &.rivo-wts-italic-format{
                        border: 1px solid #1F64A5;
                    }

                    &.delete-group{
                        padding: 10px 0;
                    }
                }
            }
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
        padding-top: 24px;
        border-top: 1px solid $colorLightGray;
    }

    .btn {
        border-radius: $borderRadius;
        padding: 15px 16px;
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;

        &.rivo-rate{
            border: 1px solid #1B2023;
            color: #1B2023;
            //transition: all .3s ease;
            background-size: 200% 100%;
            background-position: right;
            background-repeat: none;

            &:hover{
                color: #ffffff;
                background-position: left;
                background-image: linear-gradient(to right, #1D81AE , #2D93BF, #1E9C9C);
            }
        }

        &.rivo-start{
            color: #ffffff;
            background-image: linear-gradient(to right, #1D81AE , #2D93BF, #1E9C9C);
        }
    }

}

input.input-error,
input.input-error:focus{
    outline: 1px solid red;
    box-shadow: unset;
}

.token-field{
    display: flex;
    gap: 10px;
}

#tm_bot_token{
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #E9E9E9;
    padding: 15px 16px;
    font-family: Gilroy;
    font-size: 15px;
    font-weight: 500;
    color: #000000;
}

#tm_bot_token::placeholder{
    color: #1B202380;
}

.aply-tocken-button{
    height: 48px;
    width: 116px;
    border-radius: 8px;
    border: 1px solid #1F64A5;
    padding: 15px 16px 15px 16px;
    font-family: Gilroy;
    font-size: 15px;
    font-weight: 600;
}

.chats-list{
    margin-top: 24px;
    border-top: 1px solid #EFEFEF;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    & p{
        font-family: Gilroy;
        font-size: 15px;
        font-weight: 600;
        margin: 0;
    }
}

.isDisabled{
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}


.rft{
    &-wrapper {
        margin-right: 7vw;
    }

    &-menu-tabs-wrapper {
        display: flex;
        flex-direction: row;
    }

    &-menu-tabs-list {
        display: flex;
        flex-direction: column;
        padding: 0px;
        // margin: 0px;
        margin-top: 20px;
        flex: 0 0 auto;

        [role=tab] {            
            a{ 
                text-decoration: none;
                color:#1d2327
            }
            &.child {
                margin-left: 20px;               
                a{ 
                    color:#1d2327bb
                }
            }
        }

       [role=tab][aria-selected=true] {
            background:#2271b1;
            a{
                color: #fff;
            }
        }        
      
    }

    &-tab-content {

        flex: 1 1 auto;
        max-width: 1150px;
        border-left: 2px solid #2271b1;

        [data-tabs]{
            margin: 0;
            padding-bottom: 25px;
            border-bottom:  1px solid #d7d7d9; 
        }
        
        [data-tabs]>[role=tab] {
            background:#f7f7f7;
            margin-right: 10px;
            a{ 
                color: #1d2327;
                text-decoration: none;
            }
        }

        [data-tabs]>[role=tab][aria-selected=true] {
            background:#2271b1;
            a{
                color: #fff;
            }
        }
        .form-group {
            padding-top:12px;
            padding-bottom: 34px;
        }
    }


    &-inner-tab-content {
        // flex: 1 0 auto;
    }
}





.rft{   

    &-form {
        margin-bottom: 40px;
        margin-right: 5px;
        padding: 20px;
        background: #ffffff75;
        border-radius: 6px;
        min-height: 40vh;

        h3, h4 {
            margin: 0;
        }
    }

    &-input-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 8px;
        flex-wrap: wrap;

        &.textarea-input-group {
            margin-bottom: 15px;
            label {
                width: 80px;
            }
        }

        label {
            font-weight: 500;
            min-width: 80px;
            margin-right: 7px;
        }

        p {
            width: 100%;
        }

        input[type="text"] {
            min-width: 50%;
            margin-right: 6px;
        }
        textarea{
            min-width: 50%;
            margin-right: 6px;
        }

        button.button.button-secondary {
            margin-right: 6px;
        }       
    }

    &-rename-group {
        display: flex;
        margin-bottom: 24px;
        flex-wrap: nowrap;
        align-items: center;
        gap: 10px;
        input, select {
            margin-left: 6px;
        }
        .id {
            padding: 4px;
            width: 18px;
            text-align: left;
        }
        .text-format{
            margin-left: 6px;
            display: contents;
            button {
                width: 28px;
                height: 28px;
                margin-left: 6px;
                font-size: 14px;
                text-align: center;
                padding: 5px;
                font-family: serif;
                display: inline-block;
                border: 1px solid #d7d7d9;  
                border-radius:4px;
                cursor: pointer;
                
                &.selected {
                    background: #2271b1;
                    color:#fff;
                    border: 1px solid transparent;
                }
            }
        }
    }

    &-submit-wrap{
        margin-top: 20px;
    }
}



#tm-bot-notices {
    display: none;
    padding: 10px;
    border: 1px solid #d7d7d9;
    margin-bottom: 10px;
    background: #fbfbfb;
}



.spacer {
    display: block;
    width: 100%;
    height: 40px;
}

.d-none {
    display: none;
}

.w-100 {
    width: 100% !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}
.mt-0 {
    margin-top: 0 !important;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.pt-0 {
    padding-top: 0 !important;
}


.mb-20{
    margin-bottom: 20px !important; 
}
.mt-20 {
    margin-top: 20px !important;
}
.pb-20 {
    padding-bottom: 20px !important;
}
.pt-20 {
    padding-top: 20px !important;
}


.mb-5{
    margin-bottom: 5px !important; 
}
.mt-5 {
    margin-top: 5px !important;
}
.pb-5 {
    padding-bottom: 5px !important;
}
.pt-5 {
    padding-top: 5px !important;
}














//nav a{
//    font-size: 14px;
//    text-align: center;
//    color: #666;
//    cursor: default;
//    margin: 0 3px;
//    padding: 8.5px 10px 8.5px 30px!important;
//    min-width: 180px;
//    float: left;
//    position: relative;
//    background-color: #d9e3f7;
//    -webkit-user-select: none;
//    -moz-user-select: none;
//    -ms-user-select: none;
//    user-select: none;
//    transition: background-color 0.2s ease;
//}
//
//nav a:after,
//nav a:before {
//    content: " ";
//    position: absolute;
//    top: 0;
//    right: -17px;
//    width: 0;
//    height: 0;
//    border-top: 19px solid transparent;
//    border-bottom: 17px solid transparent;
//    border-left: 17px solid #d9e3f7;
//    z-index: 2;
//    transition: border-color 0.2s ease;
//}

//nav a:before {
//    right: auto;
//    left: 0;
//    border-left: 17px solid #fff;
//    z-index: 0;
//}

//nav a:first-child:before {
//    border: none;
//}

//nav a:first-child {
//    border-top-left-radius: 4px;
//    border-bottom-left-radius: 4px;
//}

nav a span {
    position: relative;
}

nav a span:before {
    opacity: 0;
    content: "✔";
    position: absolute;
    top: -2px;
    left: -20px;
}

nav a.done span:before {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease 0.5s;
    -moz-transition: opacity 0.3s ease 0.5s;
    -ms-transition: opacity 0.3s ease 0.5s;
    transition: opacity 0.3s ease 0.5s;
}

//nav a.active {
//    color: #fff;
//    background-color: #23468c;
//}

//nav a.active:after {
//    border-left: 17px solid #23468c;
//}