
.rivo-wts-plugin-tm {
	@import "reset";
	@import "variables";
	@import "misc";
	@import "nav";
	@import "typography";
	@import "ui";

	font-family: "Gilroy Medium";
	font-size: 15px;
	line-height: 150%;
	color: $color-black;

	.container {
		max-width: $width-max;
		margin-top: $padding;
		padding: $padding;
		background-color: white;
		border-radius: $border-radius;
	}

	.inner {
		margin-top: 30px;
		padding-bottom: 24px;
	}

	.footer {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		padding-top: 24px;
	}
}

.error {
	text-align: center;
}

